@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: black;
}

form {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

input {
    border: 1px solid black;
}

button {
    border: 1px solid black;
    /* 
   */
}

.app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap:2rem;
}